    body {
        background-color: #596275;
        margin-top: 30px;
    }
    
    .Root-btn {
        padding: 10px 30px;
        background-color: #82ccdd;
        transition: ease-in 0.5;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }
    
    .Root-btn:hover {
        background-color: #60a3bc;
    }
    
    .abc {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        margin: 20px 50px 0px 50px;
    }
    
    .container {
        text-align: center;
    }
    
    .container input {
        width: 50%;
        height: 20px;
        padding: 10px;
        margin-bottom: 30px;
        border-radius: 10px;
        outline: none;
        border: none;
        border: 1px solid rgb(88, 85, 85);
        background-color: black;
        color: aliceblue;
    }
    
    .product {
        background-color: rgb(72, 72, 73);
        transition: all 0.8s;
        height: 330px;
        overflow: hidden;
        /* margin: 20px 50px; */
    }
    
    .product-name {
        color: #82ccdd;
    }
    
    .product:hover {
        /* transform: scale(1.1); */
    }
    
    .item a {
        text-decoration: none;
        color: white;
    }
    
    .product img {
        width: 287px;
        height: 224px;
        transition: 0.7s;
        /* Animation */
    }
    
    .product img:hover {
        transform: scale(1.1);
    }
    
    .footer-contant {
        background-color: #303952;
        color: white;
        padding: 1px;
    }
    
    .input-area {
        position: relative;
    }
    
    .input-icon .icon {
        color: rgb(134, 130, 130);
        font-size: 20px;
        position: absolute;
        top: 12px;
        right: 341px;
    }
    
    @media only screen and (max-width:600px) {
        .abc {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
        }
        .container {
            margin: 10px;
        }
        .container input {
            width: 95%;
            height: 15px;
            /* padding: 8px; */
        }
        .product {
            width: 400px;
            /* height: 250px; */
            background-color: rgb(72, 72, 73);
            padding: 10px;
            margin-bottom: 10px;
        }
        .product img {
            width: 100%;
            /* height: auto; */
        }
        .footer-contant {
            background-color: rgb(36, 34, 34);
            color: rgb(33, 36, 228);
        }
        .input-icon .icon {
            color: rgb(143, 138, 138);
            font-size: 20px;
            position: absolute;
            left: 400px;
            top: 7px;
        }
    }